<!DOCTYPE html>
<html ng-app="inventory">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>SF</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/lib/confirmation/ui-bootstrap-position.js"></script>
    <script src="/lib/confirmation/angular-bootstrap-confirm.min.js"></script>
    <script src="/common.js"></script>
    <script src="sf.js"></script>
</head>
<body>
<div ng-controller="sfCtrl" ng-init="refreshBoth()">
    <ul class="nav nav-pills">
        <li ng-repeat="p in pages" role="presentation" ng-class="{'active': page == p.name}"><a href="{{p.url}}">{{p.display}}</a></li>
    </ul>
    <div class="col-xs-12" style="height:25px;"></div>
    <div id="message" class="alert alert-success" ng-show="showMessage"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{message}}</div>
    <div id="errorMessage" class="alert alert-danger" ng-show="showErrorMessage"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{errorMessage}}</div>

    <div class="panel panel-default">
        <div class="form-group">
            <div class="form-group row col-md-12 col-xs-12">
                <div class="col-md-1 col-xs-1">
                    <button class="btn btn-success" mwl-confirm on-confirm="updateSf()">Update</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Current SF Address</div>
                    <div class="panel-body">
                        <table class="table">
                            <tr ng-repeat="entity in newEntities">
                                <td>{{entity.value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Saved Address</div>
                    <div class="panel-body">
                        <table class="table">
                            <tr ng-repeat="entity in entities">
                                <td>{{entity.value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div>



</div>
</body>
</html>

