<!DOCTYPE html>
<html ng-app="inventory">

<head>
    <meta charset="UTF-8">
    <title>Inventory</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
    <script src="/common.js"></script>
    <script src="inventory.js"></script>
</head>
<body>
<div class="container">
    <h2>Inventory</h2>
    <div ng-controller="inventoryCtrl" ng-init="refresh()">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id" ng-model="entity.id" readonly/>
        </div>
        <div class="form-group">
            <label for="createTime">Create:</label>
            <input type="text" class="form-control" id="createTime" name="createTime"
                   ng-model="entity.createTime" readonly/>
        </div>
        <div class="form-group">
            <label for="updateTime">Update:</label>
            <input type="text" readonly="readonly" class="form-control" id="updateTime" placeholder=""
                   name="updateTime" ng-model="entity.updateTime" readonly/>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder=""
                   name="name" ng-model="entity.name">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="new()">New</button>
            <button class="btn btn-default" ng-click="save(entity.id)">Save</button>
            <button class="btn btn-default" ng-click="remove(entity.id)">Delete</button>
            <div id="message" class="alert alert-success" disable>{{message}}</div>
            <div id="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        </div>


        <div class="form-group">
            <table class="table table-striped">
                <tr ng-repeat="entity in entities" ng-click="select(entity.id)">
                    <td>{{entity.createTime}}</td>
                    <td>{{entity.name}}</td>
                </tr>
            </table>
            <span class="help-block">Total: {{entities.length}}</span>
        </div>

    </div>
</div>
</body>
</html>

