<!DOCTYPE html>
<html ng-app="delivery">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Delivery</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/lib/datepicker/ng-bs3-datepicker.css">
    <link rel="stylesheet" href="/common.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/lib/datepicker/ng-bs3-datepicker.js"></script>
    <script src="/lib/confirmation/ui-bootstrap-position.js"></script>
    <script src="/lib/confirmation/angular-bootstrap-confirm.min.js"></script>
    <script src="/lib/ng-highlight/ng-highlight.min.js"></script>
    <script src="/lib/angular-elastic/angular-elastic.js"></script>
    <script src="/common.js"></script>
    <script src="delivery.js"></script>
</head>
<body>
<ul class="nav nav-pills">
    <li role="presentation"><a href="/inventory/inventory.html">Inventory</a></li>
    <li role="presentation"><a href="/order/order.html">Order</a></li>
    <li role="presentation" class="active"><a href="/order/delivery.html">Delivery</a></li>
    <li role="presentation"><a href="/order/orderHistory.html">Order History</a></li>
</ul>
<div ng-controller="deliveryCtrl" ng-init="refresh()">
    <div id="message" class="alert alert-success" ng-show="showMessage"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{message}}</div>
    <div id="errorMessage" class="alert alert-danger" ng-show="showErrorMessage"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{errorMessage}}</div>

    <div class="panel panel-default">
        <div class="panel-heading">Delivery List</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group row col-md-12 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input type="text" class="form-control" ng-model="filter"/>
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove" ng-click="filter=''"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-md-10 col-xs-12">
                        <uib-accordion close-others="true">
                            <div uib-accordion-group class="panel-default" ng-repeat="entity in entities | filter: {customer: filter}">
                                <uib-accordion-heading>
                                    <div highlight="filter">{{entity.customer + ' - ' + entity.tel}}</div>
                                </uib-accordion-heading>
                                <div class="col-md-10 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12 form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Customer</span>
                                                <input type="text" class="form-control" ng-model="entity.customer" readonly/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Telephone</span>
                                                <input type="text" class="form-control" ng-model="entity.tel" readonly/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-xs-12 form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Address&nbsp;&nbsp;&nbsp;</span>
                                                <textarea rows="1" class="form-control" ng-model="entity.address" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-11">
                                    <table class="table table-bordered" >
                                        <thead>
                                        <tr >
                                            <th scope="col" class="col-md-1 col-xs-1">#</th>
                                            <th scope="col" class="col-md-5 col-xs-9">Item</th>
                                            <th scope="col" class="col-md-2 col-xs-1">Vol</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in entity.items | orderBy:'createTime'">
                                            <th scope="row" >{{$index+1}}</th>
                                            <td ng-bind-html="inventories[item.inventoryId].name"></td>
                                            <td ng-bind-html="item.volume"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row col-md-12 col-xs-12">
                                    <div class="col-md-3 col-xs-12 form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Shipping Fee</span>
                                            <input type="number" class="form-control" ng-model="entity.shippingFee"/>
                                            <span class="input-group-addon">$</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Delivery Date</span>
                                            <ng-bs3-datepicker ng-model="entity.deliveryDate" language="en" date-format="YYYY-MM-DD"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Waybill No.&nbsp;&nbsp;&nbsp;</span>
                                            <input type="text" class="form-control" ng-model="entity.waybillNumber"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row col-md-12 col-xs-12">
                                    <div class="col-md-2 col-xs-5 col-md-offset-1 col-xs-offset-1">
                                        <button class="btn btn-danger" mwl-confirm on-confirm="revert(entity)">Revert</button>
                                    </div>
                                    <div class="col-md-1 col-xs-5">
                                        <button class="btn btn-success" mwl-confirm on-confirm="complete(entity)" ng-disabled="disableComplete(entity)">Done</button>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
