<!DOCTYPE html>
<html ng-app="orderHistory">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Delivery</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/common.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/lib/confirmation/ui-bootstrap-position.js"></script>
    <script src="/lib/confirmation/angular-bootstrap-confirm.min.js"></script>
    <script src="/lib/ng-highlight/ng-highlight.min.js"></script>
    <script src="/lib/angular-elastic/angular-elastic.js"></script>
    <script src="/common.js"></script>
    <script src="orderHistory.js"></script>
</head>
<body>
<div ng-controller="orderHistoryCtrl" ng-init="refresh()">
    <ul class="nav nav-pills">
        <li ng-repeat="p in pages" role="presentation" ng-class="{'active': page == p.name}"><a href="{{p.url}}">{{p.display}}</a></li>
    </ul>
    <div id="message" class="alert alert-success" ng-show="showMessage"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{message}}</div>
    <div id="errorMessage" class="alert alert-danger" ng-show="showErrorMessage"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{errorMessage}}</div>

    <div class="panel panel-default">
        <div class="panel-heading">Order History</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group row col-md-12 col-xs-12">
                    <div class="col-md-3 col-xs-9">
                        <div class="input-group">
                            <span class="input-group-addon">Filter</span>
                            <input type="text" class="form-control" ng-model="filter"/>
                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove" ng-click="filter=''"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-md-10 col-xs-12">
                        <uib-accordion close-others="true">
                            <div uib-accordion-group class="panel-default" ng-repeat="entity in entities | filter: {customer: filter }">
                                <uib-accordion-heading>
                                    <div highlight="filter">{{entity.customer+ ' - ' + entity.tel}}</div>
                                </uib-accordion-heading>
                                <div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Customer&nbsp;</span>
                                                <input type="text" class="form-control" ng-model="entity.customer" readonly/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Telephone</span>
                                                <input type="text" class="form-control" ng-model="entity.tel" readonly/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Source&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" ng-model="entity.source" readonly/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Address&nbsp;&nbsp;&nbsp;</span>
                                                <textarea elastic rows="1" class="form-control" ng-model="entity.address" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Payment Date&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" ng-model="entity.paymentDate" readonly/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Payment Method</span>
                                                <input type="text" class="form-control" ng-model="entity.paymentMethod" readonly/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Waybill Number&nbsp;</span>
                                                <input type="text" class="form-control" ng-model="entity.waybillNumber" readonly/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Shipping Fee &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" ng-model="entity.shippingFee" readonly/>
                                                <span class="input-group-addon">$</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Delivery Date &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" ng-model="entity.deliveryDate" readonly/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Delivery Drawee</span>
                                                <input type="text" class="form-control" ng-model="entity.deliveryDrawee" readonly/>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12" style="height:25px;"></div>
                                <div class="col-md-8 col-xs-12">
                                    <table class="table table-bordered" >
                                        <thead>
                                        <tr >
                                            <th scope="col" class="col-md-1 col-xs-1">#</th>
                                            <th scope="col" class="col-md-5 col-xs-9">Item</th>
                                            <th scope="col" class="col-md-2 col-xs-1">Quantity</th>
                                            <th scope="col" class="col-md-2 col-xs-1">Price($)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in entity.items | orderBy:'createTime'">
                                            <th scope="row" ng-bind-html="index+1"></th>
                                            <td ng-bind-html="displayInventory(item.inventoryId)"></td>
                                            <td ng-bind-html="item.quantity">{{item.quantity}}</td>
                                            <td ng-bind-html="item.price"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Discount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" ng-model="entity.discount" readonly/>
                                                <span class="input-group-addon">$</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" ng-model="entity.totalBilling" readonly/>
                                                <span class="input-group-addon">$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Calculator&nbsp;&nbsp;&nbsp;</span>
                                                <textarea elastic rows="1" class="form-control" ng-model="entity.calculator" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-xs-12-10">
                                    <div class="row">
                                        <button class="btn btn-danger" mwl-confirm on-confirm="revert(entity)">Revert</button>
                                    </div>
                                </div>

                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

